@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

*{
  font-family: "Outfit", sans-serif;
}

@layer base{
  button{
    @apply cursor-pointer;
  }
}

.no-scrollbar::-webkit-scrollbar{
  display: none;
}


.animate-fade-in{
  animation: fade-in 0.4s ease-in-out;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}